.rightColumn {
  padding: 20px;
  width: 640px;
  display: flex;
  flex-flow: column;
  background-color: #b2b2ac;
}

.selection {
  margin-bottom: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 32px);
  grid-template-columns: repeat(auto-fill, 32px);
  background-color: #ffffff;
  height: 150px; 
}

.values {
  margin-left: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 65px;
  row-gap: 20px;
  background-color:  #ccccc4;
  height: 150px; 
}

.nameValue {
}

.contentValue {
}
